<h2>Resend confirmation instructions</h2>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
<<<<<<< HEAD
  <%= f.email_field :email, :autofocus => true %></div>
=======
  <%= f.email_field :email %></div>
>>>>>>> e41dca022a876dbd781796ed5faf139d9cab1c7d

  <div><%= f.submit "Resend confirmation instructions" %></div>
<% end %>

<<<<<<< HEAD
<%= render "devise/shared/links" %>
=======
<%= render "links" %>
>>>>>>> e41dca022a876dbd781796ed5faf139d9cab1c7d
