<h2>Редактирование профиля</h2>

<div id = "reg">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %><br />

  <%= f.email_field :email, :autofocus => true %>
<%= f.text_field :surname,placeholder: "Фамилия" %><br />
<%= f.text_field :name,placeholder: "Имя" %><br />
<%= f.text_field :midname,placeholder: "Отчество" %><br />
 
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>

  <%= f.password_field :password, :autocomplete => "off",placeholder: "Новый пароль" %>

  <%= f.password_field :password_confirmation ,placeholder: "Повторите новый пароль"%><br>

  <%= f.password_field :current_password ,placeholder: "Текущий пароль"%>
<%= f.file_field :avatar %>

  <div><%= f.submit "Обновить" %></div>
<% end %>


<p> <%= button_to "Удалить профиль", registration_path(resource_name), :data => { :confirm => "Вы уверены?" }, :method => :delete %></p>

<%= link_to "Назад", :back %>
</div>
